.converter__form-input {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding-bottom: 20px;
}

.converter-input__value {
    box-sizing: border-box;
    width: 25%;
    border: 2px solid darkgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.converter-input__field {
    box-sizing: border-box;
    width: 45%;
    border: 2px solid darkgrey;
    border-radius: 10px;
    padding: 12px;
    background-color: lightblue;

}

.converter-input__currency {
    box-sizing: border-box;
    width: 25%;
    border: 2px solid darkgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}
