.converter__form-output {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.converter-output__value {
    box-sizing: border-box;
    width: 25%;
    border: 2px solid darkgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.converter-output__field {
    box-sizing: border-box;
    width: 45%;
    border: 2px solid darkgrey;
    border-radius: 10px;
    padding: 12px;
    background-color: lightblue;
}

.converter-output__select {
    box-sizing: border-box;
    width: 25%;
    border: 2px solid darkgrey;
    border-radius: 10px;
    text-align-last:center;
    background-color: lightblue;
}