.currencies-picker__form {
    padding-bottom: 20px;
}

.currencies-picker__search {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid darkgrey;
    border-radius: 10px;
    padding: 12px;
    background-color: lightblue;
}