.list__row {
    display: flex;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.list__row--selected {
    background: white;
}

.list__row:hover {
    background: lightblue;
}

.row__value--sign {
    width: 15%;
}

.row__value--abbreviation {
    width: 20%;
}

.row__value--rate {
    width: 28%;
}

.row__value--difference {
    box-sizing: border-box;
    width: 37%;
    border: 2px solid white;
    border-radius: 7px;
}

.row__value--red {
    background-color: red;
}

.row__value--green {
    background-color: green;
}
